---
import { Image } from "astro:assets";
import { type CollectionEntry, render } from "astro:content";

import LinkButton from '@/components/ui/LinkButton.astro';

export type Props = {
  edition: CollectionEntry<"edition">;
};

let { edition } = Astro.props;

let { Content } = await render(edition);
---

<section
  class="mx-auto max-w-[85rem] items-center gap-8 px-4 py-10 sm:px-6 sm:py-16 md:grid md:grid-cols-2 lg:grid lg:grid-cols-2 lg:px-8 lg:py-14 xl:gap-16 2xl:max-w-full"
>
  <Image
    class="w-full rounded-lg"
    src={edition.data.screenshot}
    alt={edition.data.screenshot_desc}
    loading={"eager"}
  />

  <div class="mt-4 md:mt-0">
    <h2
      class="mb-4 text-balance text-4xl font-extrabold tracking-tight text-neutral-800 dark:text-neutral-200"
    >
      {edition.data.title}
      <small class="divide-neutral-300 dark:divide-neutral-700"
        >{edition.data.version}</small
      >
    </h2>

    <div
      class="mb-4 max-w-prose text-pretty font-normal text-neutral-600 dark:text-neutral-400 sm:text-lg"
    >
      <Content />
    </div>

    <div class="p-12">
      <LinkButton
        href={edition.data.url}
        icon="tabler:download"
      >Download now</LinkButton>

      <LinkButton
        variant="secondary"
        href="magnet:?xt=urn:btih:b39b27a9e6e747885af1270061b5582cce14182f&dn=AerynOS-2025.12-GNOME-live-x86_64.iso&xl=2420817920&tr=udp%3A%2F%2Ffosstorrents.com%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker-udp.gbitt.info%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.theoks.net%3A6969%2Fannounce&tr=udp%3A%2F%2Fopentracker.io%3A6969%2Fannounce&tr=udp%3A%2F%2Fopen.demonii.com%3A1337%2Fannounce&tr=http%3A%2F%2Ffosstorrents.com%3A6969%2Fannounce&tr=udp%3A%2F%2Fexodus.desync.com%3A6969%2Fannounce&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&ws=https://cdn.aerynos.dev/isos/AerynOS-2025.12-GNOME-live-x86_64.iso"
        icon="tabler:magnet"
      >Torrent magnet</LinkButton>

      <LinkButton
        variant="secondary"
        href={edition.data.checksum_url}
        icon="tabler:checks"
      >Verify checksum</LinkButton>
    </div>
  </div>
</section>
